@use'../custom' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

.display-2{
    margin-bottom: 2.5rem;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;

    &--intro{
        font-weight: 800;
        display: inline-block;
        font-family: 'Roboto', sans-serif;
    }

    &--description{
        display: block;
        font-size: 2.1rem;
    }
}

//HEADING LINE
.heading-line::before{
    content: '';
    width: 10rem;
    height: 0.3rem;
    display: block;
    margin: 0 auto;
    background-color: $primary;
}
.heading-line::after {
    content: "";
    width: 2rem;
    padding-top: 0.5rem;
    height: 0.2rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: $primary;
}